<h1>New Picture Card</h1>
<script> 
  $(function sendPicture() {
    var canvas = document.getElementById('colored_sketch');
    
    $('#new_card').submit(function() {
      $('#picture_card_attachment').val(canvas.toDataURL());
    });
    
  });
</script>
<%= simple_form_for [@stack, @card] do |f| %>
  <%= f.input :author %>
  <%= f.input :data_picture %>
  <%= f.input :attachment %>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src='../src/sketch.js'></script>
    <script type='text/javascript'>
      $(function() {
        $.each(['#f00', '#ff0', '#0f0', '#0ff', '#00f', '#000', '#fff'], function() {
          $('#tools').append("<a href='#colored_sketch' data-color='" + this + "' style='border: 1px solid black; width: 30px; height: 30px; background: " + this + "; display: inline-block;'></a> ");
        });

        $('#colored_sketch').sketch();
      });
    </script>

    <div id='tools'>
    <a href="#colored_sketch" data-download="png" style="float: right; width: 100px;">Download</a>
    </div>
    <canvas id='colored_sketch' width='400' height='400' style='border: 2px solid black'></canvas>
    <%= render :partial => 'form' %>
  <%= f.button :submit %>

<% end %>
